.telegramMain{
  display: flex;
  justify-content: space-between;
  padding-top: 0 !important;
}

.aside{
  padding: 30px 30px 15px 0;
  border-right: var(--mainBoldColor) 1px solid;
  height: calc(100vh - 60px);
}
.section{
  width: 100%;
  padding-top: 30px;
  & > p{
    padding: 15px 0 15px 30px;
    border-bottom: var(--mainBoldColor) 1px solid;
  }
}

.freq{
  width: 700px;
  height: 700px;
  overflow: hidden;
  position:relative;
  &__wrapper{
    //background: url("/assets/images/meshBlock.png");
    position:absolute;
    cursor: grab;
    &.grabbing{
      cursor: grabbing;
    }
  }
}



